body {
    background: rgba(5,5,5,0.9);
    color: rgb(240, 240, 240);
}

.CodeMirror {
    height: 100%;
    margin-top: 18px;
    background: rgba(255,255,255,0.8);
}

.button {
    cursor: pointer;
    background: rgba(0, 50, 130, 0.9);
    display: inline;
    font-family: sans-serif;
    vertical-align: middle;
    padding: 10px;
    margin-bottom: 6px;
}

.selected {
    background: rgba(130, 50, 0, 0.9);
}
